@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto+Mono:wght@500;700&family=Sarala&family=Spicy+Rice&family=Work+Sans:wght@400;900&display=swap');

:root {
    --background-color: #121212;;
    --background-color-white: #fff;
    --text-color: #F9FAF8;
    --border-color: #dddddd;
    --text-color-black:  #1F2937;
    --text-color-blacker: #121212;
    --text-color-alternative: #E5E7EB;
    --item-color: #434949;
    --checkout-red: #901b1d;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Work Sans',sans-serif;
    background: var(--background-color);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 70px;
}

nav {
    display: flex;
    gap: 15px;
}

.ico {
    margin-left: 20px;
}

.media,
.search input,
.search button {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 13px;
}

header a {
    color: var(--text-color );
}

li a {
    font-family: 'Roboto', sans-serif;
    font-size:17px;
}

i {
    color: var(--text-color);
    cursor: pointer;
}

span {
    color: var(--checkout-red);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.logo {
    gap: 10px;
    display: flex;
    align-items: center;
    font-family: 'Spicy Rice', sans-serif;
    font-size: 40px;
}

.logo img {
    max-width: 50px;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.search form {
    display: flex;
    margin: 0;
}

.search input {
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
    padding: 0px 10px;
}

.search input:hover {
    border: 1px solid #72a0d4;
}

.search button {
    padding: 0px 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.hero-img {
    border: 3px solid var(--border-color);
    border-radius: 10px;
    max-width: 1000px;
    height: 350px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 100px;
}

.hero-text h1{
    margin-bottom: 50px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-text p{
    padding-bottom: .3rem;
    color: #E5E7EB;
    font-size: 16px;
}

.novidades {
    background: var(--background-color-white);
}

.novi_title {
    display: flex;
    justify-content: left;
}

.title-txt {
    color: #7a3090;
    font-weight: 900;
    font-size: 2.2vw;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0px 70px;
    font-size: 40px;
}

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: #fff;
}

.item {
    width: 250px;
    height: 250px;
    border: 4px solid #333;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    margin-bottom: 100px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.imgg {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.item:after {
    width:100%;
    height:100%;
    opacity:0;
    border-radius:5px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.item:hover::after{
    opacity:1;
  }

.item:hover{
    transform:scale(1.25,1.25);
}

.blackinfo-item {
    color: var(--text-color-alternative);
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
}

.info-item {
    color: var(--text-color-blacker);
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.promocoes h2 {
    visibility: hidden;
}

.promocoes {
    padding-top: 70px;
    height: 285px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blackfriday img {
    margin-right: 8em;
    height: 285px;
    width: 285px;
    margin-bottom: 70px;
}

.blackfriday {
    display: flex;
    align-items: center;
}

.blackbox {
    height: 285px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.black-item {
    width: 180px;
    height: 180px;
    border: 4px solid #dddddd;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    margin-bottom: 100px;
}

.black-item .black-img {
    width: 180px;
    height: 180px;
    margin-bottom: 5px;
    cursor: pointer;
}

.closet {
    display: flex;
    background-color: var(--background-color-white);
    flex-wrap: wrap;
}

.closet-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    display: flex;
    justify-content: center;
}

.about {
    padding-top: 15px;
    background: var(--background-color-white);
}

.closet-block img {
    width: 260px;
    height: 260px;
}

.description .title {
    display: flex;
    align-items: center;
    font-size: 12px;
    height: auto;
    justify-content: center;
    line-height: 16px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--item-color);
}

.closet-block
.description
.price {
    margin-bottom: 10px;
    font-size: 12px;
    color: var(--item-color);
    font-weight: 700;
    height: auto;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

.closet_container{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    width: calc(25% - 30px);
}

.btn-buy {
    align-items: center;
    background: var(--checkout-red);
    border: 2px solid var(--checkout-red);
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: auto;
    justify-content: center;
    margin: 10px auto 0;
    outline: none;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    transition-duration: 0.4s;
    width: 100%;
}

[type=button],
button {
    border: 0; border-radius: 0;
    font-family: 'Work Sans', sans-serif;
}

.sizes {
    text-align: center;
}

form .sizes .size {
    background: transparent;
    color: #424242;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 19px;
    margin: 0 10px;
    min-width: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease;
}

form .sizes .tooltip {
    color: #f16423;
    font-size: 10px;
    left: 0;
    outline: none;
    padding: 6px 0;
    right: 0;
    text-align: center;
    transition: opacity .2s ease;
    z-index: 2;
}

.btn-buy:hover {
    background-color: var(--background-color-white);
    border: 2px solid var(--checkout-red);
    color: var(--checkout-red);
}

.sizes .size:hover {
    color: var(--checkout-red);
}